<!DOCTYPE html>
<html lang="en">
<style>
    .headerdiv {
        background-color: #333;
        position: fixed;
        height: 50px;
    }
    
    #maincontext {
        position: relative;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
        padding: 100px;
    }
    
    #sidebarnav {
        margin-top: 56px;
        position: absolute;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
    }
</style>

<head>
    <title>Car Recognition System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Car Recognition System</strong>
                </a>
                <h5 class="text-white">
                    Devteam: Tuan & Quan
                </h5>
            </div>
        </div>
    </header>
    <main>
        <div class="row d-flex justify-content-between">
            <div class="col-2 bg-dark" id="sidebarnav">
                <aside class="bd-aside sticky-xl-top text-muted align-self-start mb-3 mb-xl-5 px-2 mt-2">
                    <nav class="small bg-dark" id="toc">
                        <h4 class="text-white">Sidebar</h4>
                        <hr>
                        <ul class="list-unstyled">
                            <li class="my-2">
                                <button class="btn btn-outline-primary shadow-none rounded-0 border-0 container-fluid d-inline-flex align-items-center collapsed text-white" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" aria-controls="contents-collapse">Brands</button>
                                <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#typography">Typography</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#images">Images</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#tables">Tables</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#figures">Figures</a></li>
                                </ul>
                            </li>
                            <li class="my-2">
                                <button class="btn btn-outline-primary shadow-none rounded-0 border-0 container-fluid d-inline-flex align-items-center collapsed text-white" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#forms-collapse" aria-controls="forms-collapse">Forms</button>
                                <ul class="list-unstyled ps-3 collapse" id="forms-collapse">
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#overview">Overview</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#disabled-forms">Disabled forms</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#sizing">Sizing</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#input-group">Input group</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#floating-labels">Floating labels</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#validation">Validation</a></li>
                                </ul>
                            </li>
                            <li class="my-2">
                                <button class="btn btn-outline-primary shadow-none rounded-0 border-0 container-fluid d-inline-flex align-items-center collapsed text-white" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#components-collapse" aria-controls="components-collapse">Components</button>
                                <ul class="list-unstyled ps-3 collapse" id="components-collapse">
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#accordion">Accordion</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#alerts">Alerts</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#badge">Badge</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#breadcrumb">Breadcrumb</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#buttons">Buttons</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#button-group">Button group</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#card">Card</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#carousel">Carousel</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#dropdowns">Dropdowns</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#list-group">List group</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#modal">Modal</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#navs">Navs</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#navbar">Navbar</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#pagination">Pagination</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#popovers">Popovers</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#progress">Progress</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#scrollspy">Scrollspy</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#spinners">Spinners</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#toasts">Toasts</a></li>
                                    <li><a class="d-inline-flex align-items-center rounded text-white" href="#tooltips">Tooltips</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </div>
            <div class="col-10" style="margin-left:230px" id="maincontext">
                {% block content %} {% endblock %}
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
</body>

</html>