{% extends 'main/base.html' %}

{% block title %}Car Model Detail{% endblock %}

{% block content %}
<h2>Car model: {{lmao.carName}}</h2>
<p>Brand: {{lmao.brand}}</p>
<p>Segment: {{lmao.segment}}</p>
<p>Origin: {{lmao.origin}}</p>
<p>Engine: {{lmao.engines}}</p>
<p>Hourse power: {{lmao.hoursePower}}</p>
<p>Torque: {{lmao.torque}}</p>
<p>Fuel type: {{lmao.fuelType}}</p>
<p>Drive type: {{lmao.driveType}}</p>
<p>Tire size: {{lmao.tireSize}}</p>
<p>High light: {{lmao.highLight}}</p>


	
	{% comment %} <form method="post", action="#">
		{% csrf_token %}

		{% for item in ls.item_set.all%}
			<div class="input-group mb-3">
	  			<div class="input-group-prepend">
	    			<div class="input-group-text">
	      				<input type="checkbox" name="c{{item.id}}" value="clicked" aria-label="Checkbox for following text input" {% if item.complete %} checked {% endif %}>
	    			</div>
	  			</div>
	  			<input type="text" name="text{{item.id}}" value="{{item.text}}" class="form-control" aria-label="Text input with checkbox">
			</div>
		{% endfor %}

		<div class="input-group mb-3">
	  		<div class="input-group-prepend">
	  		<button name="add", value="add", type="submit", class="btn btn-success">Add New</button>
	  		</div>
	  		<input type="text" name="new" value="" class="form-control">
	  		
		</div>
		<br>
		<button name="save", value="save", type="submit", class="btn btn-success">Save</button>
	</form> {% endcomment %}
{% endblock %}